<md-dialog aria-label="List of Vegies">
    <md-dialog-content>
        <md-input-container>
            <md-select ng-model="someModel" placeholder="Select a state">
                <md-option ng-value="vegetable.id" ng-repeat="vegetable in vm.vegetables" ng-bind="vegetable.name"></md-option>
            </md-select>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
    </md-dialog-actions>
</md-dialog>